@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

/*************/
/* VARIABLES */
/*************/
:root{
  --main-fontFamily: 'Roboto', sans-serif;
  --main-bgColor: #3ddb93;
  --secondary-bgColor: #36c584;
  --dark-bgColor: #fff;
}



/*************************************/
/* PAGE SECTIONS & DEFAULT PROPERTIES*/
/*************************************/

body{
  font-family: var(--main-fontFamily);
  background-color: var(--dark-bgColor);
  padding-top: 70px; /* offset fixed header */
}

header{
  background-color: #000;
  overflow: hidden;
}

main{
  background-color: var(--dark-bgColor);
}

footer{
  background-color: #5b5f66;
  margin: 30px 0 0 0;
  padding: 20px 0;
}

h1{
  font-size: 90px;
  font-weight: 100 !important;
  color: var(--secondary-bgColor);
  margin: 80px 30px 20px 0;
  display: inline-block;
}

h2{
  font-size: 18px;
  font-weight: 700 !important;
  color: #00;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0;
}

h3{
  font-size: 18px;
  font-weight: 700 !important;
  color: var(--secondary-bgColor);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0;
}

/********************/
/* VIDEO PROPERTIES */
/********************/

.video-container{
  position: relative;
}

video{
  background-color: #000;
  opacity: 0.5;
  width: 100% !important;
  height: auto;
  vertical-align: middle;
  object-fit: none;
}

.overlay{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay h1{
  font-size: 120px;
  font-weight: 100;
  color: rgba(255,255,255,0.7);
  padding: 80px 200px;
}



/****************/
/* MAIN CONTENT */
/****************/
.navbar{
  background-color: #5b5f66;
  padding: 0;
  min-height: 80px;
}

.navbar li{
  margin: 0 40px;
  padding: 10px;
  border-bottom: 4px solid transparent;
}

.navbar li:hover{
  border-bottom: 4px solid var(--secondary-bgColor);
}

.btn-primary{
  margin: 20px;
  padding: 5px 30px;
  background-color: var(--main-bgColor);
  border: 1px solid var(--main-bgColor);
  border-radius: 30px;
}

.btn-primary:hover{
  background-color: var(--secondary-bgColor);
  border: 1px solid var(--secondary-bgColor);
  transition-duration: 0.2s;
}

.card {
  border-bottom: 6px solid var(--secondary-bgColor);
  border-top:0;
  border-right:0;
  border-left:0;
  border-radius: 0px;
  padding: 0;
  opacity: 0.8;
}

.card:hover{
  opacity: 1;
  background-color: #fff;
}

.card-body{
  padding: 0;
}

.card img{
  width: 100%;
  border-radius: 0px;
}

.marketingPods{
  text-align: center;
  padding: 30px;
  background-color: #efefef;
}

.marketingPods .fa{
  color: #5b5f66;
  font-size: 100px;
  margin: 40px 0 20px 0;
}

.marketingPods p{
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 40px;
}

.login{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login .btn-primary, input{
  margin: 20px 0;
}

.login input[type=password], input[type=email]{
  border: 1px solid #54b5ff;
  border-radius: 0;
}

.login h1{
  margin: 0;
  font-size: 60px;
}

.login-icon{
  display: block;
  color:#54b5ff;
  font-size: 60px;
  text-align: center !important;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (max-width: 768px) {
  .overlay h1 {
    font-size: 50px; }

@media screen and (max-width: 699px) and (min-width: 520px) {
  .card-columns{
    column-count: 2;
    column-gap: 1.25rem;
  }

@media screen and (max-width: 768px) and (min-width: 699px) {
.card-columns{
  column-count: 3;
  column-gap: 1.25rem;
}

@media screen and (min-width: 768px) {
.card-columns{
  column-count: 4 !important;
  column-gap: 1.25rem;
}
