@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700');


/*************/
/* VARIABLES */
/*************/
:root{
  --main-fontFamily: 'Barlow', sans-serif;
  --main-bgColor: #a6cd8c;
  --secondary-bgColor: #84a470;
  --dark-bgColor: #484753;
}



/*************************************/
/* PAGE SECTIONS & DEFAULT PROPERTIES*/
/*************************************/

body{
  font-family: var(--main-fontFamily);
  background-color: var(--dark-bgColor);
}

header{
  background-color: #000;
  overflow: hidden;
}

main{
  background-color: var(--dark-bgColor);
}

footer{
  background-color: var(--main-bgColor);
  margin: 30px 0 0 0;
  padding: 20px 0;
}

h1{
  font-size: 90px;
  font-weight: 100;
  color: #fff;
  margin: 80px 30px 20px 0;
  display: inline-block;
}


/********************/
/* VIDEO PROPERTIES */
/********************/

.video-container{
  position: relative;
}

video{
  background-color: #000;
  opacity: 0.5;
  width: 100% !important;
  height: auto;
  vertical-align: middle;
  object-fit: none;
}

.overlay{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay h1{
  font-size: 120px;
  font-weight: 100;
  color: rgba(255,255,255,0.7);
  padding: 80px 200px;
}



/****************/
/* MAIN CONTENT */
/****************/
.navbar{
  background-color:var(--main-bgColor);
  padding: 0;
  min-height: 80px;
}

.navbar li a{
  margin: 0 40px;
  padding: 10px;
}

.navbar li a:hover{
  transform: scale(1.2);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.btn-primary{
  padding: 5px 20px;
  background-color: var(--main-bgColor);
  border: 1px solid var(--main-bgColor);
  border-radius: 30px;
}

.btn-primary:hover{
  background-color: var(--secondary-bgColor);
  border: 1px solid var(--secondary-bgColor);
  transition-duration: 0.3s;
}

.card {
  border: 1px solid #fff !important;
  border-radius: 0px;
  padding: 0;
  opacity: 0.8;
}

.card:hover{
  opacity: 1;
  background-color: #fff;
}

.card-body{
  padding: 0;
}

.card img{
  width: 100%;
  border-radius: 0px;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (max-width: 768px) {
  .overlay h1 {
    font-size: 50px; }

@media screen and (max-width: 699px) and (min-width: 520px) {
  .card-columns{
    column-count: 2;
    column-gap: 1.25rem;
  }

@media screen and (max-width: 768px) and (min-width: 699px) {
.card-columns{
  column-count: 3;
  column-gap: 1.25rem;
}

@media screen and (min-width: 768px) {
.card-columns{
  column-count: 4 !important;
  column-gap: 1.25rem;
}
