body {
  font-family: 'Montserrat', sans-serif;
}

footer {
  background-color: #eee; }


#charity-logo{
  max-height: 250px;
}

.uk-navbar{
  padding: 10px;
  background-color: #f4f4f4 !important;
  border-top: 10px solid #3ddb93;
}

.uk-button-default {
  border: 1px solid #1e87f0;
}

.section-one {
  padding: 80px 50px !important;
  min-height: 400px;
  background-color: #f4f4f4;
  align-items: center;
}

.section-one img,
.section-two img{
  max-height: 300px;
}

.section-two {
  padding: 100px 50px !important;
  min-height: 400px;
  background-color: #eee;
  align-items: center;
}

.section-three {
  padding: 100px 50px 50px 50px !important;
}

.section-three h3{
  margin-top: -20px;
  margin-bottom: 50px;
}

.section-three a:hover {
  text-decoration: none;
}

.section-three h3:hover {
  color: #3ddb93 !important;
  transition-duration: 0.3s;
}


.section-four {
  padding: 80px 100px !important;
  background-color: #fff;
}

.section-four img{
  padding: 40px;
}

.section-four h4{
  text-transform: uppercase;
  color: #1e87f0;
  font-weight: 800;
  margin-top: 10px;
}

hr{
  margin: 0 auto !important;
  max-width: 80%;
}
.section-five {
  background-color: #3ddb93;
  padding: 100px 50px 10px 50px !important;

}

.section-five h1,
.section-five h3{
    color: #fff;
    font-weight: 300;
}

.section-five h3{
  margin-top: -20px;
}

.section-five img{
  max-height: 200px;
}

.bottom-nav{
  padding: 30px;
  font-size: 12px;
}

.bottom-nav ul{
  list-style-type: none;
}

.bottom-nav li{
  display: inline;
  text-align: center;
  margin: 10px;
}

.bottom-nav a{
  color: #999;
}

.bottom-nav a:hover{
  text-decoration: none;
  color: #3ddb93;
  transition-duration: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}


/* Settings */
.settings-one {
  padding: 80px 50px !important;
  min-height: 400px;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.settings-one img{
  max-height: 300px;
}

.settings-one h4{
  margin-bottom: 0 !important;
}

/* Dashboard */
.dash-one {
  padding: 80px 50px !important;
  min-height: 400px;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dash-two {
  padding: 80px 50px !important;
  min-height: 400px;
  background-color: #fff;
  text-align: center;
}

.dash-three {
  padding: 80px 50px !important;
  min-height: 400px;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.your-charity {
  text-align: center;
  padding: 50px;
  background-color: #fff; }

.donations {
  background-color: #3ddb93;
  padding: 50px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.products {
  background-color: #eee;
  padding: 50px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.product-box {
  height: 200px;
  width: 200px;
  background-color: #fff;
  color: #000; }

.welcome {
  font-size: 32px; }

.disclaimer {
  font-size: 16px !important; }

.product-line {
  min-height: 400px;
  display: none; }

.charity {
  min-height: 525px;
}

/*****************************/
/* GOOGLE AUTH CSS OVERRIDES */
/*****************************/

.login {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .login .btn-primary {
    margin: 20px 0; }
  .login h1 {
    font-size: 24px !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 100 !important;
    color: #36c584; }

.firebaseui-textfield.mdl-textfield .firebaseui-input {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

.mdl-card {
  border: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}



.mdl-button--primary.mdl-button--primary {
  color: #3ddb93;
}

.btn-primary, .firebaseui-idp-password,
.mdl-button--raised.mdl-button--colored {
  background-color: #fff;
  color: #000;
  border: 2px solid #3ddb93;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary:hover,
.firebaseui-idp-password:hover,
.mdl-button--raised.mdl-button--colored:hover {
  background-color: #36c584;
  border: 1px solid #36c584;
  color: #fff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary:active,
.firebaseui-idp-password:active,
.mdl-button--raised.mdl-button--colored:active {
  background-color: #36c584 !important;
  border: 1px solid #36c584 !important;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.login input[type=password], input[type=email] {
  border: none !important;
  border-bottom: 2px solid #36c584 !important;
}

.login h1 {
  margin: 0;
  font-size: 60px;
}

.login-icon {
  display: block;
  color: #54b5ff;
  font-size: 60px;
  text-align: center !important;
}

.flat-icon {
  height: 150px;
  margin: 30px auto;
}

#change-name .uk-button-primary,
#change-theme .uk-button-primary,
#change-charity .uk-button-primary,
#change-purchase-preferences .uk-button-primary{
  margin-top: 5px;
}
