@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

/*************/
/* VARIABLES */
/*************/
:root{
  --main-fontFamily: 'Lato', sans-serif;
  --main-bgColor: #3ddb93;
  --secondary-bgColor: #36c584;
  --dark-bgColor: #fff;
}



/*************************************/
/* PAGE SECTIONS & DEFAULT PROPERTIES*/
/*************************************/

body{
  font-family: var(--main-fontFamily);
  background-color: var(--dark-bgColor);
  padding-top: 70px; /* offset fixed header */
}

header{
  background-color: #000;
  overflow: hidden;
}

main{
  background-color: var(--dark-bgColor);
}

footer{
  background-color: #5b5f66;
  margin: 30px 0 0 0;
  padding: 20px 0;
}

h1{
  font-size: 90px;
  font-weight: 100 !important;
  color: var(--secondary-bgColor);
  margin: 80px 30px 20px 0;
  display: inline-block;
}

h2{
  font-size: 24px;
  font-weight: 300 !important;
  color: #00;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px 0;
}

h3{
  font-size: 18px;
  font-weight: 700 !important;
  color: var(--secondary-bgColor);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0;
}

p{
  font-weight: 300;
  font-size: 20px;
}

/********************/
/* VIDEO PROPERTIES */
/********************/

.video-container{
  position: relative;
}

.static-banner{
  position: relative;
  max-height: 100px;
  width: 100%;
}

video{
  background-color: #000;
  opacity: 0.5;
  width: 100% !important;
  height: auto;
  vertical-align: middle;
  object-fit: none;
}

.overlay{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.overlay h1{
  font-size: 90px;
  font-weight: 100;
  color:rgba(61,219,147,0.7);
  padding: 0px 30px;
}



/****************/
/* MAIN CONTENT */
/****************/
.navbar{
  background-color: #5b5f66;
  padding: 0;
  min-height: 80px;
}

.navbar li{
  margin: 0 40px;
  padding: 10px;
}

.btn-primary{
  margin: 20px;
  padding: 5px 30px;
  background-color: var(--main-bgColor);
  border: 1px solid var(--main-bgColor);
  border-radius: 30px;
}

.btn-primary:hover{
  background-color: var(--secondary-bgColor);
  border: 1px solid var(--secondary-bgColor);
  transition-duration: 0.2s;
}

.btn-default{
  margin: 20px;
  padding: 5px 30px;
  border: 1px solid #fff;
  border-radius: 30px;
}

.btn-default:hover{
  background-color: #eee;
  border: 1px solid #eee;
  transition-duration: 0.2s;
}

.marketingPods{
  text-align: center;
  padding: 50px;
  background-color: #efefef;
}

.marketingPods .fa{
  color: #5b5f66;
  font-size: 100px;
  margin: 40px 0 20px 0;
}


.who-are-we{
  padding: 50px;
}

.login{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login .btn-primary, input{
  margin: 20px 0;
}

.login input[type=password], input[type=email]{
  border: 1px solid #54b5ff;
  border-radius: 0;
}

.login h1{
  margin: 0;
  font-size: 60px;
}

.login-icon{
  display: block;
  color:#54b5ff;
  font-size: 60px;
  text-align: center !important;
}

.flat-icon{
  max-height: 150px;
  margin: 30px auto;
}

.donations{
  background-color: var(--main-bgColor);
  padding: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.products{
  background-color: #999;
  padding: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-box{
  height: 200px;
  width: 200px;
  background-color: #fff;
  color: #000;
}

.welcome{
  font-size: 32px;
}

.disclaimer {
  font-size: 16px !important;
}
/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (max-width: 768px) {
  .overlay h1 {
    font-size: 50px; }

@media screen and (max-width: 699px) and (min-width: 520px) {
  .card-columns{
    column-count: 2;
    column-gap: 1.25rem;
  }

@media screen and (max-width: 768px) and (min-width: 699px) {
.card-columns{
  column-count: 3;
  column-gap: 1.25rem;
}

@media screen and (min-width: 768px) {
.card-columns{
  column-count: 4 !important;
  column-gap: 1.25rem;
}
